<div data-controller="live">
  <label>Yes <input type="radio" name="foo" value="Yes" data-action="live#toggle"></label>
  <label>No <input type="radio" name="foo" value="No" data-action="live#toggle"></label>
  <div data-target="live.detail" style="{display: none}">
    Anything
  </div>
</div>


<div class="venue-title">
  <h2>Add a New Venue</h2>
    <div class="form-group" style="width: 80%" >
      <%= simple_form_for @venue, data:{ turbo: false } do |f| %>
        <%= f.input :name, placeholder: 'Bar La Camila', required: true  %>
        <%= f.input :address, placeholder: 'Carrer de Banyoles, 11, 08012 Barcelona', required: true  %>
        <%= f.input :website, placeholder: 'https://www.instagram.com/barlacamila/' %>
        <%= f.input :power_outlets, placeholder: 'Yes', required: true  %>
        <%= f.input :wifi, placeholder: 'Yes', required: true  %>
        <%= f.input :natural_light, placeholder: 'Yes', required: true  %>
        <%= f.input :suited_for_calls, placeholder: 'true' %>
        <%= f.input :opening_time, placeholder: '09:00' %>
        <%= f.input :closing_time, placeholder: '18:00' %>
        <%= f.input :photo, as: :file, required: true %>
        <%= f.submit class:"btn-submit btn btn-gradient" %>
      <% end %>
    </div>
</div>


<fieldset class="mb-3 radio_buttons optional survey_death">
  <input type="hidden" name="survey[death]" value="" autocomplete="off">
  <div class="form-check">
    <input class="form-check-input radio_buttons optional" type="radio" value="true" name="survey[death]" id="survey_death_true">
    <label class="form-check-label collection_radio_buttons" for="survey_death_true">Yes</label>
  </div>
  <div class="form-check">
    <input class="form-check-input radio_buttons optional" readonly="readonly" type="radio" value="false" name="survey[death]" id="survey_death_false">
    <label class="form-check-label collection_radio_buttons" for="survey_death_false">No</label>
  </div>
</fieldset>
