<div class="card-trip">
  <img src="https://i.imgur.com/JzXEDyR.png" />
  <div class="card-trip-infos">
    <div class="title">
      <h2>Intraoperative Adverse Event (iAE) Grade Calculator</h2>
    </div>
  </div>
  <div data-controller="live-results-table">
    <div class="card-product sticky">
      <div class="live-results">
        <div class="live-result">
          <h3>EAUiaiC</h3>
          <p>(0 - 5B)</p>
          <p><span id="eauiaic-spot"></span></p>
        </div>
        <div class="live-result">
          <h3>iAE Severity</h3>
          <p>(I - VI)</p>
          <p><span id="iaeseverity-spot"></span><span id="suffixt-spot"></span></p>
        </div>
        <div class="live-result">
          <h3>Modified Satava</h3>
          <p>(I - III)</p>
          <p><span id="modifiedsatava-spot"></span></p>
        </div>
        <div class="live-result">
          <h3>Class Intra</h3>
          <p>(0 - V)</p>
          <p><span id="classintra-spot"></span></p>
        </div>
        <div class="live-result">
          <h3>EAES</h3>
          <p>(1- 5)</p>
          <p><span id="eaes-spot"></span></p>
        </div>
      </div>
    </div>
    <%= simple_form_for @survey, data:{ turbo: false } do |f| %>
      <div data-controller="live">
        <div class="card-product">
          <div class="card-product-infos">
            <h2>Patient</h2>
            <div class="card-product-full">
              <div class="card-product-question">
                <p>Was the iAE associated with death of the patient?:</p>
              </div>
              <div class="switch-field" name="switch-field">
                <%= f.input :death, as: :radio_buttons, legend_tag: false, collection: [["Yes", "true"], ["No", "false"]], :checked => "false", id: "survery-radio" %>
              </div>
            </div>
            <div class="card-product-full">
              <div class="card-product-question">
                <p>Was the iAE immediately life-threatening?:</p>
              </div>
              <div class="switch-field" name="switch-field">
                <%= f.input :life_threatening, as: :radio_buttons, legend_tag: false, collection: [["Yes", "true"], ["No", "false"]], :checked => "false" %>
              </div>
            </div>
            <div class="card-product-full">
              <div class="card-product-question">
                <p>Were there significant consequences to the patient as a result of the iAE?:<p>
                <div class="popper" data-controller="popper">
                  <div id="button" data-popper-target="element" data-action="mouseenter->popper#show mouseleave->popper#hide" class="button-tooltip">
                    <i class="fa-solid fa-circle-info"></i>
                    <div id="tooltip" role="tooltip" data-popper-target="tooltip">
                      Some examples of iAEs with significant consequences includes injury to or unplanned removal of an otherwise healthy major organ (e.g. unplanned pulmonectomy, nephrectomy) and events that are exceedingly challenging to manage in a controlled manner without potential for long-term patient consequences (e.g. increased risk of postoperative multiorgan failure with major blood transfusion).
                      <div id="arrow" data-popper-arrow></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="switch-field" name="switch-field">
                <%= f.input :sig_consequences, as: :radio_buttons, legend_tag: false, collection: [["Yes", "true"], ["No", "false"]], :checked => "false" %>
              </div>
            </div>
            <div class="card-product-full">
              <div class="card-product-question">
                <p>Was the incorrect site, side, or surgical approach used without consent?:</p>
              </div>
              <div class="switch-field" name="switch-field">
                <%= f.input :incorrect_with_consent, as: :radio_buttons, legend_tag: false, collection: [["Yes", "true"], ["No", "false"]], :checked => "false" %>
              </div>
            </div>
          </div>
        </div>
        <div class="card-product">
          <div class="card-product-infos">
            <h2>Procedure</h2>
            <div class="card-product-full">
              <div class="card-product-question">
                <p>Were there significant consequences to the patient as a result of the iAE?:<p>
                <div class="popper" data-controller="popper">
                  <div id="button" data-popper-target="element" data-action="mouseenter->popper#show mouseleave->popper#hide" class="button-tooltip">
                    <i class="fa-solid fa-circle-info"></i>
                    <div id="tooltip" role="tooltip" data-popper-target="tooltip">
                      Changes in course include minor incidents such as unintended cauterization, equipment malfunction, unanticipated anesthesiologic challenges, or procedural delays regardless of consequence or management.
                      <div id="arrow" data-popper-arrow></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="switch-field" name="switch-field">
                <%= f.input :intraoperative_course_change, as: :radio_buttons, legend_tag: false, collection: [["Yes", "true"], ["No", "false"]], :checked => "false" %>
              </div>
            </div>
            <div class="card-product-full">
              <div class="card-product-question">
                <p>Was there an unanticipated conversion of approach or significant change to the operative steps of the originally planned procedure due to iAE?:</p>
              </div>
              <div class="switch-field" name="switch-field">
                <%= f.input :unanticipated_conversion, as: :radio_buttons, legend_tag: false, collection: [["Yes", "true"], ["No", "false"]], :checked => "false" %>
              </div>
            </div>
            <div class="card-product-full">
              <div class="card-product-question">
                <p>Was planned procedure aborted or incomplete due to iAE?:</p>
              </div>
              <div class="switch-field" name="switch-field">
                <%= f.input :aborted_incomplete, as: :radio_buttons, legend_tag: false, collection: [["Yes", "true"], ["No", "false"]], :checked => "false" %>
              </div>
            </div>
            <div class="card-product-full">
              <div class="card-product-question">
                <p>Unplanned stoma as a result of iAE?:</p>
              </div>
              <div class="switch-field" name="switch-field">
                <%= f.input :unplanned_stoma, as: :radio_buttons, legend_tag: false, collection: [["Yes", "true"], ["No", "false"]], :checked => "false" %>
              </div>
            </div>
            <div class="card-product-full">
              <div class="card-product-question">
                <p>Unplanned tissue or organ removal as a result of iAE?:</p>
              </div>
              <div class="switch-field" name="switch-field">
                <%= f.input :unplanned_removal, as: :radio_buttons, legend_tag: false, collection: [["Yes", "true"], ["No", "false"]], :checked => "false" %>
              </div>
            </div>
          </div>
        </div>
        <div class="card-product">
          <div class="card-product-infos">
            <h2>iAE Management</h2>
            <div class="card-product-full">
              <div class="card-product-question">
                <p>Were there significant consequences to the patient as a result of the iAE?:<p>
                <div class="popper" data-controller="popper">
                  <div id="button" data-popper-target="element" data-action="mouseenter->popper#show mouseleave->popper#hide" class="button-tooltip">
                    <i class="fa-solid fa-circle-info"></i>
                    <div id="tooltip" role="tooltip" data-popper-target="tooltip">
                      Standard procedural management (e.g. cauterization, use of prothombotic material, small vessel ligation) does not qualify as "repair."
                      <div id="arrow" data-popper-arrow></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="switch-field" name="switch-field">
                <%= f.input :intervention, as: :radio_buttons, legend_tag: false, collection: [["Yes", "true"], ["No", "false"]], :checked => "false" %>
              </div>
            </div>
            <div class="card-product-full">
              <div class="card-product-question">
                <p>Was there a change in post-operative care due to the iAE?:</p>
              </div>
              <div class="switch-field" name="switch-field">
                <%= f.input :post_op_care_change, as: :radio_buttons, legend_tag: false, collection: [["Yes", "true"], ["No", "false"]], :checked => "false" %>
              </div>
            </div>
            <div class="card-product-full">
              <div class="card-product-question">
                <p>Did the iAE or its management necessitate intensive care admission?:</p>
              </div>
              <div class="switch-field" name="switch-field">
                <%= f.input :intensive_care, as: :radio_buttons, legend_tag: false, collection: [["Yes", "true"], ["No", "false"]], :checked => "false" %>
              </div>
            </div>
            <div class="card-product-full">
              <div class="card-product-question">
                <p>Was the intraoperative injury missed, necessitating re-operation within 7 days of index procedure?:</p>
              </div>
              <div class="switch-field" name="switch-field">
                <%= f.input :re_operation, as: :radio_buttons, legend_tag: false, collection: [["Yes", "true"], ["No", "false"]], :checked => "false" %>
              </div>
            </div>
          </div>
        </div>
        <div class="card-product">
          <div class="card-product-infos">
            <h2>Bleeding Related</h2>
            <div class="card-product-full">
              <div class="card-product-question">
                <p>Were there significant consequences to the patient as a result of the iAE?:<p>
                <div class="popper" data-controller="popper">
                  <div id="button" data-popper-target="element" data-action="mouseenter->popper#show mouseleave->popper#hide" class="button-tooltip">
                    <i class="fa-solid fa-circle-info"></i>
                    <div id="tooltip" role="tooltip" data-popper-target="tooltip">
                      Per Kazaryan, et al. (2013): "A normal range of blood loss for each particular procedure is subjective in a certain degree, but one can quantify it in regard to different procedures based both on contemporary scientific literature and values typical for own institution."
                      <div id="arrow" data-popper-arrow></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="switch-field" name="switch-field">
                <%= f.input :blood_loss_high, as: :radio_buttons, legend_tag: false, collection: [["Yes", "true"], ["No", "false"]], :checked => "false" %>
              </div>
            </div>
            <div class="card-product-full">
              <div class="card-product-question">
                <p>Were 2 or more units of blood products required to manage iAE?:</p>
              </div>
              <div class="switch-field" name="switch-field">
                <%= f.input :more_blood_units, as: :radio_buttons, legend_tag: false, collection: [["Yes", "true"], ["No", "false"]], :checked => "false" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="extra-infos">
        <%= f.input :patient_id, label: "Patient ID", input_html: { class: "extra-info", :rows => 1 } %>
        <%= f.input :iae_description, label: "iAE Description", input_html: { class: "extra-info", :rows => 1 } %>
        <%= f.input :iae_management, label: "iAE Management", input_html: { class: "extra-info", :rows => 1 } %>
      </div>
      <%= f.submit class: "btn-submit btn btn-gradient", value: "Create Entry" %>
    <% end %>
  </div>
</div>
